$container-bgcolor: #f2f2f2;
$font-color: rgb(255,255,255);
$background-color: rgb(130, 178, 151);
$night-color: rgba(204, 0, 102, 0.5);
$fog-color: rgb(97, 94, 94);
$mask-color: rgba(0, 0, 0, 0.1);
$shadow-color: rgb(255,255,255);
$fade-color: rgba(255, 255, 255, 0.6);
$button-color: transparent;
$border-color: rgb(224, 224, 224);
$button-textcolor: rgb(255,255,255);
$text-shadow-color: rgb(0, 0, 0);
$toggle-color-dark: rgb(0, 3, 51); // --coal
$toggle-color-light: rgb(255, 255, 255); // --white
$toggle-border: rgb(0, 42, 42); // --focus



